spring:
  application:
    name: expense-tracker-backend
  datasource:
    url: jdbc:sqlite:expense-tracker.db
    driver-class-name: org.sqlite.JDBC
  jpa:

    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: false
  sql:
    init:
      mode: always
  jackson:
    serialization:
      write-dates-as-timestamps: false
